@ IN SOA {{ groups['dns']|first }}.{{domaine_lab}}  {{ groups['dns']|first }}(
                {{ timestamp.stdout }}  ; serial number
                30006     ; refresh period
                360000    ; retry period
                360000    ; expire time
                3600 )     ; minimum TTL

{% for zone in zone_dns%}
{% if zone.isAuthoritative %}
        IN NS {{zone.nom}}
{% endif %}

{% endfor %}
{% for zone in zone_dns%}
{{zone.nom}}   IN A   {{zone.IPv4}}
{% endfor %}
