@ IN SOA {{ groups['DNS']|first }} {{ domain_lab }}(
                {{ DNS_timestamp.stdout }} ; serial number
                30006     ; refresh period
                360000    ; retry period
                360000    ; expire time
                3600 )     ; minimum TTL

{% for host in groups["DNS"] %}
        IN NS {{host}}
{% endfor %}

{% for host in groups["all"] %}
{{ host }}   IN A   {{ hostvars[host]['ansible_host'] }}
{% endfor %}
